$font-main: 'Roboto';
$font-accent: 'Raleway';
$title-text-color: #212121;
$main-text-color: #757575;
$secondary-color: #ffffff;
$accent-color: #2196f3;
$backgrond-color: #e5e5e5;
$card-gap: 30px;
$icon-color: #afb1b8;
